*{
    margin: 0;
    padding: 0;

}
:root{
    --navbar-height: 59px;

}
#navbar{
    display: flex;
    align-items: center;
    position: relative;

}

#logo img{
    margin: 10px 34px;
    margin: 3px 6px;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;


}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;

}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
.top-container {
    position: absolute;
  background: url('images/aiimg.jpg');
  height: 90%;
width: 100%;



}
.bottom-container{
  background-color: #99FEFF;

height: 60px;
width: 90px;
}
